<nav class="navbar navbar-light bg-light fixed-bottom">
	<div class="container-fluid px-2">
		<div class="d-flex">
			<div class="btn-group me-2" role="group">
				<a class="btn btn-primary" href="@upload" data-bs-toggle="modal" data-bs-target="#upload" title="Upload a file" data-bs-placement="top">
					{{octicon "upload"}}
					<span class="d-none d-sm-inline align-text-bottom">Upload</span>
				</a>
				<a class="btn btn-secondary" href="@mkdir" data-bs-toggle="modal" data-bs-target="#mkdir" title="Create a new folder" data-bs-placement="top">
					{{octicon "file-directory"}}
					<span class="d-none d-md-inline align-text-bottom">New folder</span>
				</a>
			</div>
			{{#either cmdable shellable}}
			<div class="btn-group me-2" role="group">
				{{#if cmdable}}
				<a class="btn btn-info" href="@cmd" data-bs-toggle="modal" data-bs-target="#cmd" title="Run a command" data-bs-placement="top">
					{{octicon "terminal"}}
					<span class="d-none d-lg-inline align-text-bottom">Run command</span>
				</a>
				{{/if}}
				{{#if shellable}}
				<a class="btn btn-warning" href="@shell" title="Open a new shell" data-bs-placement="top">
					{{octicon "terminal"}}
					<span class="d-none d-md-inline align-text-bottom">Open shell</span>
				</a>
				{{/if}}
			</div>
			{{/either}}
			<div class="btn-group me-2" role="group">
				<a class="btn btn-success" href="@download" data-bs-toggle="modal" data-bs-target="#download" title="Download file archive" data-bs-placement="top">
					{{octicon "file-zip"}}
					<span class="d-none d-lg-inline align-text-bottom">Download</span>
				</a>
			</div>
			<div class="btn-group me-2" role="group">
				<a class="btn btn-secondary" href="@rename" data-bs-toggle="modal" data-bs-target="#rename" title="Rename selected files" data-bs-placement="top">
					{{octicon "pencil"}}
					<span class="d-none d-lg-inline align-text-bottom">Rename</span>
				</a>
			</div>
			<div class="btn-group me-2" role="group">
				<a class="btn btn-danger" href="@delete" data-bs-toggle="modal" data-bs-target="#delete" title="Delete selected files" data-bs-placement="top">
					{{octicon "trash"}}
					<span class="d-none d-lg-inline align-text-bottom">Delete</span>
				</a>
			</div>
		</div>
		
		<div class="d-flex">
			<div class="btn-group ms-2" role="group">
				<a class="btn btn-warning" href="./" title="Refresh list" data-bs-placement="top">
					{{octicon "sync"}}
					<span class="d-none d-lg-inline align-text-bottom">Refresh</span>
				</a>
			</div>
			<div class="btn-group ms-2" role="group">
				<a class="btn btn-info" href="./@settings" id="admin_settings" title="Refresh list" data-bs-placement="top">
					<span class="d-none d-lg-inline align-text-bottom">Settings</span>
				</a>
			</div>
			<div class="btn-group ms-2" role="group">
				<a class="btn btn-danger" href="#" title="Stop Pm2" data-bs-placement="top" onclick="pm2('Stop')">
					<span class="d-none d-lg-inline align-text-bottom">Stop</span>
				</a>
			</div>
			<div class="btn-group ms-2" role="group">
				<a class="btn btn-danger" href="#" title="Restart Pm2" data-bs-placement="top" onclick="pm2('Restart')">
					<span class="d-none d-lg-inline align-text-bottom">Restart</span>
				</a>
			</div>
			<div class="btn-group ms-2" role="group">
				<a class="btn btn-success" href="#" title="Start Pm2" data-bs-placement="top" onclick="pm2('Start')">
					<span class="d-none d-lg-inline align-text-bottom">Start</span>
				</a>
			</div>
		</div>
	</div>
</nav>
<style>
.spinner {
  height: 60px;
  width: 60px;
  margin: auto;
  display: flex;
  position: absolute;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left: 6px solid rgba(0, 174, 239, .15);
  border-right: 6px solid rgba(0, 174, 239, .15);
  border-bottom: 6px solid rgba(0, 174, 239, .15);
  border-top: 6px solid rgba(0, 174, 239, .8);
  border-radius: 100%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#overlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
</style>
<div id="overlay" >
          <div class="w-100 d-flex justify-content-center align-items-center">
            <div class="spinner"></div>
          </div>
        </div>