{{> navbar path=path}}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div style="padding-top: 56px; padding-bottom: 56px;">
	<main class="container my-4">
		<div class="row justify-content-center">
			<div class="col col-lg-10 col-xl-8 col-xxl-8">
				{{#each errors as |error|}}
					<div class="alert alert-danger" role="alert">
						{{error}}
					</div>
				{{/each}}
				{{#each successes as |success|}}
					<div class="alert alert-success" role="alert">
						{{success}}
					</div>
				{{/each}}
				<ul class="list-group">
				{{#each files}}
					<li class="list-group-item">
						<label for="check{{@index}}" class="stretched-invisible-label">
							<div class="form-check">
								<input type="checkbox" class="form-check-input multi-select" data-select="{{name}}" data-select-size="{{size}}" data-select-type="{{#if isdirectory}}directory{{else}}file{{/if}}" id="check{{@index}}">
								<span class="form-check-label d-flex align-items-start justify-content-between">
									{{#if isdirectory}}
										<a onclick="openDir('./{{name}}/')" class="name">{{name}}/</a>
									{{else}}
									{{#if error}}
										<a onclick="openDir('./{{name}}/')" class="name" title="{{error}}">{{name}}/</a>
										<span class="badge rounded-pill bg-danger badge-alignment">err</span>
									{{else}}
										<a onclick="openDir('./{{name}}/')" class="name">{{name}}</a>
										<span class="badge rounded-pill bg-secondary badge-alignment">{{filesize size}}</span>
									{{/if}}
									{{/if}}
								</span>
								{{#if issmallimage}}
								<img src="./{{name}}" class="mt-2" style="max-height: 6em; max-width: 100%;">
								{{/if}}
							</div>
						</label>
					</li>
				{{else}}
					<li class="list-group-item">
						No files found (ya know creepers are good?)
					</li>
				{{/each}}
				</ul>
			</div>
		</div>
	</main>
</div>

{{> toolbar shellable=shellable cmdable=cmdable}}

{{> dialogue-upload}}
{{> dialogue-mkdir}}
{{> dialogue-cmd}}

{{> dialogue-download}}
{{> dialogue-rename}}
{{> dialogue-delete}}

<script type="text/javascript">
	$.ajax({
		url:"/@getSession",
		success:function(data){
			var ajson = JSON.parse(data);
			$('#username').html('Hello : '+ajson.username);
			if (ajson.is_active == false) {
				window.location.href = "/@logout";
			}
		}
	});
	function pm2($name){
		document.getElementById("overlay").style.display = "flex";
		$.ajax({
			url:"/@pm2"+$name,
			success:function(data){
				//alert(data);
				document.getElementById("overlay").style.display = "none";
			}
		});
	}
	function openDir($i){
		console.log($i);
		if ($i.endsWith(".js/")) {
			window.location.href = "/@edit_file?file="+window.location.pathname+$i;
			return;
		}
		if ($i.endsWith(".txt/")) {
			window.location.href = "/@edit_file?file="+window.location.pathname+$i;
			return;
		}
		if ($i.endsWith(".css/")) {
			window.location.href = "/@edit_file?file="+window.location.pathname+$i;
			return;
		}
		if ($i.endsWith("LICENSE/")) {
			window.location.href = "/@edit_file?file="+window.location.pathname+$i;
			return;
		}
		if ($i.endsWith(".json/")) {
			window.location.href = "/@edit_file?file="+window.location.pathname+$i;
			return;
		}
		if ($i.endsWith(".html/")) {
			window.location.href = "/@edit_file?file="+window.location.pathname+$i;
			return;
		}
		if ($i.endsWith(".txt/")) {
			window.location.href = "/@edit_file?file="+window.location.pathname+$i;
			return;
		}
		if ($i.endsWith(".properties/")) {
			window.location.href = "/@edit_file?file="+window.location.pathname+$i;
			return;
		}
		if ($i.endsWith(".bin/")) {
			window.location.href = "/@edit_file?file="+window.location.pathname+$i;
			return;
		}
		if ($i.endsWith(".creeper/")) {
			window.location.href = "/@edit_file?file="+window.location.pathname+$i;
			return;
		}
		window.location.href = "./"+$i;
	}
</script>